@tailwind base;
@tailwind components;
@tailwind utilities;



/* Custom scrollbar styles */
::-webkit-scrollbar {
  width: 4px;
  /* background-color: #FF8C44; */
  /* background-color: #FF8C44; */
}

::-webkit-scrollbar-track {
  background: #fff7ed; /* Light blue for the track */
}

::-webkit-scrollbar-thumb {
  background-color: #FF8C38; /* Medium blue for the thumb */
  border-radius: 6px;
  border: 1px solid #fff7ed; /* Light blue for the thumb border */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #FF8C38; /* Darker blue for the thumb hover */
}




/* custom-styles.css */

.wrapper {
  background-color: #fff7ed;
}
main {
  background-color: #fff7ed;
}
@media (max-width: 640px) {
  .container {
    width: 90%;
  }
}

@media (min-width: 1024px) {
  .container {
    width: 768px;
  }
}


.van-type {
  /* height: 34px; */
  padding: 4px 12px;
  font-style: normal;
  font-weight: 500;
  border: none;
  border-radius: 6px;
  background-color: #ffead0;
  color: #4d4d4d;
  transition: all 200ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  text-transform: capitalize;
}

.van-type:hover {
  color: #ffead0 !important;
}

.van-type:focus {
  outline: none;
}

.van-type.selected {
  color: #ffead0;
}

.van-type.simple:hover,
.van-type.simple.selected {
  background-color: #e17654;
}

.van-type.rugged:hover,
.van-type.rugged.selected {
  background-color: #115e59;
}

.van-type.luxury:hover,
.van-type.luxury.selected {
  background-color: #161616;
}

.van-type.clear-filters {
  margin-left: -20px;
  height: 34px;
  padding: 6px 26px;
  font-style: normal;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  text-decoration: underline;
  background-color: transparent;
  color: #4d4d4d;
}

i[class*="van-type-"] {
  padding: 7px 14px;
}
